# Postgres Connection Settings
H3_DB_HOST=localhost
H3_DB_PORT=5432
H3_DB_NAME=
H3_DB_USER=
H3_DB_PASSWORD=

# Instructions:
# 1. Copy this file to .env
# 2. Update the values above to match your local PostGIS setup
# 3. Ensure your user has permissions to CREATE TABLE and INSERT in the database
